<div class="register-container">
  <div class="register-box">
    <div class="logo">
      <img src="logoGoUni.png" alt="Logo GoUni" height="150" width="150" />
    </div>
    <h2>Bienvenido</h2>
    <form class="login-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <!-- Username -->
      <div class="input-group">
        <label for="username">Código Institucional</label>
        <mat-form-field appearance="fill" class="full-width">
          <mat-icon matPrefix>mail</mat-icon>
          <input
            matInput
            type="text"
            id="username"
            name="username"
            [(ngModel)]="username"
            placeholder="uXXXXXXXX@upc.edu.pe"
            required
          />
        </mat-form-field>
      </div>

      <!-- Contraseña -->
      <div class="input-group">
        <label for="password">Contraseña</label>
        <mat-form-field appearance="fill" class="full-width">
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Ingresa una contraseña"
            required
          />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Términos y condiciones -->
      <mat-checkbox [(ngModel)]="termsAccepted" name="terms" required>
        Acepto los Términos y Condiciones
      </mat-checkbox>

      <!-- Botón para registrar -->
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">
        Registrar
      </button>
    </form>

    <!-- Enlace para ir al login -->
    <div class="create-account">
      <button mat-raised-button color="accent" class="btn-link" (click)="navigateToLogin()">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
