mat-toolbar {
  background-color: var(--toolbar-bg-light);
  color: var(--toolbar-text-light);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


:host-context(.dark-theme) mat-toolbar {
  background-color: var(--toolbar-bg-dark);
  color: var(--toolbar-text-dark);
}

:host-context(.dark-theme) .nav-link {
  color: white !important; /* Override for dark theme text */
}

:host-context(.dark-theme) .nav-link mat-icon {
  color: white; /* Icons color in dark theme */
}

:host-context(.dark-theme) .nav-links-vertical {
  background-color: var(--toolbar-bg-dark);
}

:host-context(.dark-theme) .icon-actions mat-icon {
  color: white; /* Top toolbar icons in dark theme */
}

/* Ensure vertical navigation in dark theme has proper colors */
:host-context(.dark-theme) .nav-links-vertical .nav-link {
  color: white !important;
}

:host-context(.dark-theme) .nav-links-vertical .nav-link mat-icon {
  color: white;
}

.mat-spacer {
  flex: 1 1 auto;
}

/* Iconos de acciones adicionales en una fila */
.icon-actions {
  display: flex;
  gap: 0.5rem;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -3px;
}

/* Navegación en una columna en pantallas pequeñas */
.nav-links-vertical {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem;
  background-color: var(--toolbar-bg-light);
  width: 100%;
  position: absolute;
  top: 60px; /* Ajusta según la altura de tu toolbar */
  left: 0;
}

/* Navegación en una fila en pantallas grandes */
.nav-links-horizontal {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav-link {
  margin-top: -4rem;
  font-size: 16px;
  font-weight: bold;
  color: black !important;
}

/* Media queries para el botón hamburguesa */
@media (max-width: 768px) {
  .mobile-menu-button {
    display: inline-block;
  }
}

@media (min-width: 769px) {
  .mobile-menu-button {
    display: none;
  }

  /* Oculta el menú vertical en pantallas grandes */
  .nav-links-vertical {
    display: none;
  }
}
