
div{
    height: 100%;
    width: 100%;
}
#map {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Asegúrate de que el contenedor padre no tenga padding o márgenes */
:host {
  display: block;
  width: 100%;
  height: 100%;
}
