<app-toolbar></app-toolbar>
<section class="plans" id="planes">
  <h2 class="our-plans">Nuestros Planes</h2>
  <div class="plan-cards">
    <mat-card class="plan-card">
      <h3>Básico</h3>
      <p class="price">Gratis</p>
      <ul >
        <li>2 viajes por día</li>
        <li>Acceso limitado a funciones</li>
        <li>Anuncios incluidos</li>
        <li>Soporte básico comunitario</li>
      </ul>
      <button mat-raised-button color="primary" (click)="subscribe('Básico')">Suscríbete</button>
      <p class="cancel">Cancela en cualquier momento</p>
    </mat-card>

    <mat-card class="plan-card featured">
      <h3>Plan Estudiante</h3>
      <p class="price">S/.10 <span>/mes</span></p>
      <div class="popular">Más popular</div>
      <ul>
        <li>Invita a un acompañante gratis</li>
        <li>Viajes ilimitados</li>
        <li>Puntos dobles en el primer mes</li>
        <li>Reservas anticipadas</li>
        <li>Acceso a descuentos exclusivos</li>
        <li>Atención al cliente preferencial</li>
      </ul>
      <button mat-raised-button color="primary" (click)="subscribe('Estudiante')">Suscríbete</button>
      <p class="cancel">Cancela en cualquier momento</p>
    </mat-card>

    <mat-card class="plan-card">
      <h3>Plan Premium</h3>
      <p class="price">S/.15 <span>/mes</span></p>
      <ul>
        <li>Viajes ilimitados</li>
        <li>Acumulación de puntos canjeables</li>
        <li>Personalización de precios</li>
        <li>Notificaciones en tiempo real</li>
        <li>Invita a un acompañante gratis </li>
        <li >Acceso a eventos exclusivos para conductores </li>
      </ul>
      <button mat-raised-button color="primary" (click)="subscribe('Premium')">Suscríbete</button>
      <p class="cancel">Cancela en cualquier momento</p>
    </mat-card>
  </div>

  <div *ngIf="subscriptionStatus" class="subscription-status">
    {{ subscriptionStatus }}
  </div>
</section>
