/* Estilos generales para la sección de planes */
.plans {
  padding: 5rem 9%;
  background-color: rgba(232, 144, 65, 1);
  text-align: left;
  height: auto;/* Ocupar toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

.plans .our-plans {
  font-size: 50px;
  color: #fff;
  margin-bottom: 4rem;
  font-weight: bold;
  margin-top: -3rem;
}

.plan-cards {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  flex-wrap: wrap;
}

/* Estilo de los cards */
.plan-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  flex: 1 1 300px;
  height: auto;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.featured {
  border: 5px solid black; /* Ajustar color del borde según sea necesario */
}

.plan-card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.plan-card .price {
  font-size: 48px;
  font-weight: bold;
  border-bottom: 2px solid black;
  color: black;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 2px solid #333; /* Línea debajo del precio */
  padding-bottom: 30px;
}

.plan-card .price span {
  font-size: 1.6rem;
  color: #666;
}

.plan-card ul {
  list-style-type: none;
  margin-bottom: 2rem;
  margin-top: 50px;
  padding: 0;

}

.plan-card ul li {
  font-size: 15px;
  line-height: 3rem;
  color: #666;
  display: flex;
  align-items: center;
}

.plan-card ul li:before {
  content: '✔';
  margin-right: 0.5rem;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #012840;
}

.plan-card button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-card button:hover {
  background-color: #e64a2e;
}

.plan-card .cancel {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.popular {
  background-color: #F78B26;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: -1.5rem;
  margin-bottom: -20px;
  width: auto;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .plans{
    width: auto;
    height: auto;
  }
  .plan-cards {
    flex-direction: column;
    align-items: center;
  }

  .plan-card {
    margin-bottom: 2rem;
    width: auto;
    height: auto;
  }

  .plan-card button {
    margin-left: 0; /* Alinear el botón en pantallas pequeñas */
  }

  .plan-card .cancel {
    margin-left: 0;
  }
  .plan-card ul li {
    font-size: 15px;
    line-height: 1.5rem;
    color: #666;
    display: flex;
    align-items: center;
  }
}
