<mat-form-field appearance="outline" class="full-width">
  <mat-label>Número de tarjeta</mat-label>
  <input
    matInput
    formControlName="cardNumber"
    placeholder="4970 1000 0000 0063"
    maxlength="16"
    required
    (input)="formatCardNumber($event)"
  />
  <span matSuffix class="card-icons">
    <img src="visa-logo.avif" alt="Visa" width="24" height="16" />
    <img src="martercard.png" alt="Mastercard" width="24" height="16" />
    <img src="amex.png" alt="American Express" width="24" height="16" />
    <img src="jcb.png" alt="JCB" width="24" height="16" />
  </span>
  <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required')">
    Número de tarjeta es requerido
  </mat-error>
  <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('pattern')">
    Número de tarjeta inválido
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Vencimiento</mat-label>
  <input
    matInput
    formControlName="expiryDate"
    placeholder="MM/AA"
    maxlength="5"
    required
    (input)="formatExpiryDate($event)"
  />
  <mat-error *ngIf="paymentForm.get('expiryDate')?.hasError('required')">
    Fecha de vencimiento es requerida
  </mat-error>
  <mat-error *ngIf="paymentForm.get('expiryDate')?.hasError('pattern')">
    Formato inválido. Use MM/AA
  </mat-error>
  <mat-error *ngIf="paymentForm.get('expiryDate')?.hasError('invalidDate')">
    Introduzca un año válido (mayor que 24)
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>CVC</mat-label>
  <input
    matInput
    formControlName="cvc"
    placeholder="CVC"
    required
    maxlength="3"
    (input)="limitCVC($event)"
  />
  <mat-icon matSuffix>info</mat-icon>
  <mat-error *ngIf="paymentForm.get('cvc')?.hasError('required')">
    CVC es requerido
  </mat-error>
  <mat-error *ngIf="paymentForm.get('cvc')?.hasError('pattern')">
    CVC inválido
  </mat-error>
</mat-form-field>
